@charset "ISO-8859-1";

.cabeza{
	text-align: center;
	color: #fff;
	padding:0,9%;
	font-size: x-large;
}
.navegador{
	margin: 1%;
	padding: 1%;
	background: #EA9522;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.navs{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 1%;
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 1%;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding-top: 20px;
  padding: 8%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.message{
	color: #9C9A94;
}

.link {
  color: #EA9522;
  text-decoration: none;
}

.linkG{
	color: white;
	text-align: center;
	padding: 5px;
	
}

body {
  background: #E7C51C;  
}

.pie{
	text-align: center;
	padding-top: 8%;
	color: white;
	border: 0.5px solid EA9522;
}


.imagen{
	width: 80%;
	height: 80%;
}

.imagenG{
	width: 40%;
	height: auto;
	padding-left: 3%;
	padding-top: 3%;
}

.titNot{
	color: white;
	padding: 0px 20px; 
	padding-bottom: 10px;
}

.noti{
	flex: auto;
	padding: 2% 5%;
	width: 15%;
	margin: auto;
}

.noti1{
	flex: auto;
	padding: 2% 3%;
	width: 15%;
	margin: auto;
}

.contenido{
	display: -ms-flexblock;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.contG{
	display: flex;
	padding: 20px;
}

.imgCont{
	padding-right: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 60%;
    height: auto;
}

.imgContG{
	padding-right: 10px;
    float: left;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
}

.infCont{
	padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}

.infCont1{
	padding-top: 20px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}
.infContG{
	padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}


.tipoUser{
	display: flex;
	float: left;
}