<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body>
	
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<nav class="navegador">
		<div class="nav">
		<a class="navs" href="login.html">Login</a>
		<a class="navs" href="reserva.html">Reservar</a>
		<a class="navs" href="visualizacion.html">Reservas</a>
		</div>
	</nav>
	
	<div class="contG">
		<div class="imgContG">
			<img class="imagenG" src="../static/img/habMadera.jpg">
		</div>
		
		<div class="infContG">
			<h3>Chill</h3>
			<p>Numero de Habitacion: 6</p>
			<p>Detalles: Calefaccion, TV, WiFi, Tina, Estereo, Desayuno incl.</p>
			<p>Disponibilidad: </p>
			
			<p>Costo: $6.000</p>
			<p>Tipo: Doble</p>
			<p>Capacidad: 4 personas</p>
		</div>
	</div>
	
	<div>
		<a class="linkG" href="visualizacion.html">Reservar</a>
	</div>
	
</body>

<footer class="pie">
	Avda. Pedro Ortiz de Zarate N°455 - Tel 3884789555
</footer>
</html>