<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Hotel Messi</title>
</head>

<body>
	
	<nav>
		<a class="nav" href="login.html">Login</a>
		<a class="nav" href="reserva.html">Reserva</a>
		<a class="nav" href="visualizacion.html">Visualizacion</a>
	</nav>
	
	<form id="form" class="topBefore">
		
		  DNI<input class="dni" type="text" placeholder="DNI">
		  Usuario<input class="user" type="text" placeholder="Usuario">
		  Contraseña<input class="password" type="password" placeholder="Contraseña">
		  Nombre<input class="nombre" type="text" placeholder="Nombre">
		  Apellido<input class="apellido" type="text" placeholder="Apellido">
		  Genero<input class="genero" type="text" placeholder="Genero">

		  <a class="nav" href="reserva.html"><span>Ingresar</span></a>

	</form>