<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body>
	
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<nav class="navegador">
		<div class="nav">
		<a class="navs" href="login.html">Login</a>
		<a class="navs" href="reserva.html">Reservar</a>
		<a class="navs" href="visualizacion.html">Reservas</a>
		</div>
	</nav>
	
	<div class="login-page">
  		<div class="form">
    		<form class="login-form">
    			<div>
				 	<p><label for="text">¡Ingresa tus datos aqui!</label></p>
				 	<input class="user" type="text" placeholder="Usuario">
				 	<input class="password" type="password" placeholder="Contraseña">
				 	<input class="nombre" type="text" placeholder="Nombre">
				 	<input class="apellido" type="text" placeholder="Apellido">
				 	<input class="dni" type="text" placeholder="DNI">
				 	<input class="genero" type="text" placeholder="Genero">
				 	<p>¿Usted es?</p>
				 	<input class="genero" type="text" placeholder="Cliente - Admin">
			  		<p><a class="link" href="reserva.html">Ingresar</a></p>
				</div>
			</form>
		</div>
	</div>

</body>

<footer class="pie">
	Avda. Pedro Ortiz de Zarate N°455 - Tel 3884789555
</footer>

</html>